@import "tailwindcss";

body {
  color: rgba(31, 41, 55);
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 1rem;
  overflow: hidden;
}

.transactions-table thead {
  border-bottom: 0.5px solid gray
}

.transactions-table th,
.transactions-table td {
  padding: 12px 15px;
}

.transactions-table tr {
  background-color: #f9fafb;
  text-align: left;
}

.transactions-table tr:hover {
  background-color: #f3f4f6;
}
